{% extends 'home.html' %}


{% block task_create %}
<form method="POST">{% csrf_token %}

    {% for i in forms %}

    <div class="label-block">
        <h2>{{ i.label }}</h2>
    </div>

    <div class="upperarea{{ forloop.counter }}"><div class="area{{ forloop.counter }}">{{ i }}</div></div>


    {% endfor %}
    <div class="svdlblock">
    <div class="sv-and-dl">
        <div class="sv"><input type="submit" value="Save" name="pk"></div>
        <div class="dl"><input type="submit" value="Delete" name="pk"></div>
    </div>
    </div>
</form>
{% endblock task_create %}